Comdat.DOZP.Process/Service References/DozpService/Service43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ffas04.ff.cuni.cz//2015/01" elementFormDefault="qualified" targetNamespace="http://ffas04.ff.cuni.cz//2015/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12623/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" />
  <xs:import schemaLocation="http://localhost:12623/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" />
  <xs:element name="ServiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitution">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="GetInstitutionResult" nillable="true" type="q2:Institution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q3:SearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="SearchBookResult" nillable="true" type="q4:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchObalkyKnihCZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q5:ObalkyKnihRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchObalkyKnihCZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="SearchObalkyKnihCZResult" nillable="true" type="q6:ObalkyKnihResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="GetBookResult" nillable="true" type="q7:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="filter" nillable="true" type="q8:BookFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="GetBooksResult" nillable="true" type="q9:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="book" nillable="true" type="q10:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="SaveBookResult" nillable="true" type="q11:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScanFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="filter" nillable="true" type="q12:ScanFileFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScanFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="GetScanFilesResult" nillable="true" type="q13:ArrayOfScanFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScanImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q14:ScanFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScanImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="GetScanImageResult" nillable="true" type="q15:ScanImageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentsToOCR">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentsToOCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Core" minOccurs="0" name="GetContentsToOCRResult" nillable="true" type="q16:ScanFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScanImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q17:ScanImageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScanImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="SaveScanImageResult" nillable="true" type="q18:ScanFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q19:ScanFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="CheckOutContentsResult" nillable="true" type="q20:ScanImageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q21:OcrFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="CheckInContentsResult" nillable="true" type="q22:OcrFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q23:ScanFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="DiscardContentsResult" nillable="true" type="q24:ScanFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOcrContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q25:ScanFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOcrContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="CancelOcrContentsResult" nillable="true" type="q26:ScanFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q27:ScanFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="UndoContentsResult" nillable="true" type="q28:ScanFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScanFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="request" nillable="true" type="q29:ScanFileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScanFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Comdat.DOZP.Services" minOccurs="0" name="DeleteScanFileResult" nillable="true" type="q30:ScanFileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>